// jQuery, Bootstrap, jQuery plugins and Custom JS code
script(src='/static/js/vendor/jquery-2.2.4.min.js')
script(src='/static/js/vendor/bootstrap.min.js')
script(src='/static/js/plugins.js')
script(src='/static/js/app.js')
script(src='/static/js/pages/readyDashboard.js')
script.
    $(function(){ ReadyDashboard.init(); });