doctype html
//if IE 9
	html.no-js.lt-ie10(lang='en')  
// [if gt IE 9] <!
html.no-js(lang='en')
	// <![endif]
	head
		meta(charset='utf-8')
		title MyFitCOACH
		meta(name='description', content='AppUI Frontend is a Responsive Bootstrap Site Template created by pixelcave and added as a bonus in AppUI Admin Template package')
		meta(name='author', content='pixelcave')
		meta(name='robots', content='noindex, nofollow')
		meta(name='viewport', content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no')
		// Icons
		// The following icons can be replaced with your own, they are used by desktop and mobile browsers
		link(rel='shortcut icon', href='/static/img/favicon.png')
		link(rel='apple-touch-icon', href='/static/img/icon57.png', sizes='57x57')
		link(rel='apple-touch-icon', href='/static/img/icon72.png', sizes='72x72')
		link(rel='apple-touch-icon', href='/static/img/icon76.png', sizes='76x76')
		link(rel='apple-touch-icon', href='/static/img/icon114.png', sizes='114x114')
		link(rel='apple-touch-icon', href='/static/img/icon120.png', sizes='120x120')
		link(rel='apple-touch-icon', href='/static/img/icon144.png', sizes='144x144')
		link(rel='apple-touch-icon', href='/static/img/icon152.png', sizes='152x152')
		link(rel='apple-touch-icon', href='/static/img/icon180.png', sizes='180x180')
		// END Icons
		// Stylesheets
		// Bootstrap is included in its original form, unaltered
		link(rel='stylesheet', href='/static/front/css/bootstrap.min.css')
		// Related styles of various icon packs and plugins
		link(rel='stylesheet', href='/static/front/css/plugins.css')
		// The main stylesheet of this template. All Bootstrap overwrites are defined in here
		link(rel='stylesheet', href='/static/front/css/main.css')
		// The themes stylesheet of this template (for using specific theme color in individual elements - must included last)
		link(rel='stylesheet', href='/static/front/css/themes.css')
		// END Stylesheets
		// Modernizr (browser feature detection library)
		script(src='/static/front/js/vendor/modernizr-3.3.1.min.js')
	body
		// Page Container
		// In the PHP version you can set the following options from inc/config file
		// 'boxed' class for a boxed layout
		#page-container.boxed
			// Site Header
			header
				.container
					// Site Logo
					a.site-logo(href='index.html')
						i.fa.fa-cube
						|  myFitness
						strong COACH
					// END Site Logo
					// Site Navigation
					nav
						// Menu Toggle
						// Toggles menu on small screens
						a.btn.btn-default.site-menu-toggle.visible-xs.visible-sm(href='javascript:void(0)') Menu
						// END Menu Toggle
						// Main Menu
						ul.site-nav
							li
								a(href='/home') Get started
							li
								a(href='/pricing') Pricing
							li
								a(href='/trainers/all') Trainers
					// END Site Navigation
			// END Site Header
			// END Site Header
			// Intro
			//section.site-section.site-section-top.site-section-light.themed-background-dark
				.container
					h1.text-center.animation-fadeInQuickInv
						strong Start using myFitnessCOACH
			// END Intro
			section.site-section.site-section-top.site-section-light.themed-background-dark-default
				.container
					.push.text-center
						h1.animation-fadeInQuick2Inv
							strong Find Your training inspiration.
						h2.text-light-op.animation-fadeInQuickInv.push-bit
							strong Start using myFitnessCOACH
						a.btn.btn-lg.btn-success.push-right-left(href="/auth/sign-in") 
							strong Sign In
						a.btn.btn-lg.btn-info.push-right-left(href="/auth/sign-up") 
							strong Sign Up
					.site-promo-img.visibility-none(data-toggle='animation-appear', data-animation-class='animation-slideUpQuick', data-element-offset='0')
						img(src='/static/front/img/placeholders/screenshots/promo_welcome.png', alt='')

			//a.btn.btn-success.btn-lg(href="/auth/sign-in") Sign In
			//a.btn.btn-success.btn-lg(href="/auth/sign-up") Sign Up
		// jQuery, Bootstrap, jQuery plugins and Custom JS code
		script(src='/static/front/js/vendor/jquery-2.2.4.min.js')
		script(src='/static/front/js/vendor/bootstrap.min.js')
		script(src='/static/front/js/plugins.js')
		script(src='/static/front/js/app.js')


			